.parent {
  position: relative;
  margin-top: 50px;
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.target {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 150px;
  left: 100px;
  line-height: 100px;
  text-align: center;
  font-weight: bold;
}
